<nb-layout>
    <nb-layout-column style="padding: 0px;">
      <div (mousemove)="mouseMove($event)" class="all">
          <div class="header-bottom"></div>
        <!-- <div class="top"> 
            <span (click)="start()">欢迎领导莅临考察工作</span>
        </div> -->
        <div *ngIf="showFinished" class="finish-div" >
            <div class="finish-text">播放结束</div>
            <div>
                <span (click)="rePlay()" class="finish-replay">重新播放</span>
                <span (click)="toIndex()" class="finish-router">监控页面</span>
            </div>

        </div>
        <div style="position: fixed; z-index: 998; bottom: 10px;" [@ControlsAnimation]="showPlayClass">
            <img *ngIf="!isPlaying" (click)="togglePlay()" src="/assets/images/play.png" alt="play-icon">
            <img *ngIf="isPlaying" (click)="togglePlay()" src="/assets/images/pause.png" alt="play-icon">
            <img (click)="rePlay()" src="/assets/images/refresh.png" alt="play-icon">
        </div>
        <span [@ControlsAnimation]="showRouterClass"  (click)="toIndex()" class="router">监控页面</span>
        <div class="video">
            <video #videoElement (ended)="onEnded()" ></video>
        </div>
        <!-- <div class="bottom">
            <span>人为本&nbsp;&nbsp;&nbsp;&nbsp;信为道&nbsp;&nbsp;&nbsp;&nbsp;创为先</span>
        </div> -->
      </div>
  </nb-layout-column>
</nb-layout>